@media only screen and (max-width: 600px) {
  .app-nav-bar{
    width: 100%;
    margin-right: auto; margin-left: auto;
  }
}

@media screen and (min-width: 600px) {
  .app-nav-bar{
    width: 80%;
    margin-right: auto; margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .app-nav-bar{
    width: 60%;
    margin-right: auto; margin-left: auto;
  }
}

@media screen and (min-width: 992px) {
  .app-nav-bar{
    width: 70%;
    margin-right: auto; margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .app-nav-bar{
    width: 70%;
    margin-right: auto; margin-left: auto;
  }
}
