<div class="main">
  <mat-toolbar>
    <br>
    <h1>Covid19-Estimator</h1>
  </mat-toolbar>
  <div class="img">
    <div class="child">
      <p class="child-p">
        Due to the recent epidamic of corona virus. We Decided to carry out research in order to see if we can help the society and provide the necessary information to the Goverment that can be used to prevent and  reduce the spread of the virus.<br>
        In order to collect information were are using this Web App to collect the relevant information from any one who is willing to share information regarding the current situation.<br> <em>The infomation is strictly confidential and being used for the purpose of statistics and nothing else.</em>
      </p>
    </div>
  </div>
</div>
